:root {
	--equipment_display: initial;
	--consumables_display: initial;
	--other_display: initial;
	--trade_ammount_button_display: none;
	--item_use_button_display: inline-block;
	--item_other_width: 340px;
	--item_tooltip_top: 0px;
	--item_tooltip_left: 0px;
}

body {
	background-color: #05040f;
	font-family: sans-serif;
	cursor: default;
}

.box_div {
	background-image: linear-gradient(to bottom right, #232f47, #15152d);
	border: 3px solid #797691;
	position: absolute;
}

.text_div {
	background-color: inherit;
	position: absolute;
	width: 100%;
}

.main_controller_button {
    width: fit-content;
    min-width: 388px;
    padding: 10px;
	height: fit-content;
    font-weight: bold;
    font-size: 20;
	background-color: #15152d; 
	color: white;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}

.message_common { 
	text-align: center;
	width: inherit;
	max-width: 395px;
	height: auto;
	display: inline-block;
	word-wrap: break-word;
	padding: 2px;
	padding-right:20px;
	font-size: 12;
}

.message_default {
	color: white;
 }

 .message_items_obtained {
	 color: gold;
	 font-weight: bold;
 }

 .message_victory {
	 color: green;
	 font-weight: bold;
 }

 .message_hero_defeated {
	 color:crimson;
	 font-weight: bold;
 }

 .message_enemy_attacked {
	 color: lightblue;
 }

 .message_enemy_attacked_critically {
	color: rgb(90, 151, 221);
 }

 .message_hero_attacked {
	 color: crimson;
 }
 .message_hero_attacked_critically {
	 color: crimson;
	 font-weight: bold;
 }

 .message_travel {
	 font-weight: bold;
	 color: white;
 }

 .message_dialogue_question {
	text-align: left;
 }

 .message_dialogue_answer {
	font-style: italic;
 }

 .message_dialogue_answer, .message_dialogue_question {
	color: white;
 }

 .message_location_unlocked {
	 font-weight: bold;
	 color: silver;
 }

 .action_travel, .start_dialogue, .end_dialogue_button {
	 text-align: center;
	 font-size: 20;
	 color: white;
	 border-bottom: 1px solid white;
	 cursor: pointer;
	 padding: 5px;
 }
 .action_travel:hover, .start_dialogue:hover, 
 .dialogue_textline:hover, .end_dialogue_button:hover, .dialogue_trade:hover {
	background-color: #2c3953;
}
.dialogue_textline {
	text-align: center;
	font-size: 16;
	font-style: italic;
	color: white;
	border-bottom: 1px solid white;
	cursor: pointer;
	padding: 5px;
}

.dialogue_trade {
	text-align: center;
	font-size: 18;
	color: white;
	border-bottom: 1px solid white;
	cursor: pointer;
	padding: 5px;
}

 .inventory_item, .trader_item {
	 color: white;
	 font-size: 15;
	 display: inline-block;
	 width: 325px;
 }

 .character_item {
	 width: 325px;
 }

 .inventory_equipped_item {
	color: gold;
	background-color: rgba(255, 236, 128, 0.3);
	font-size:15;
	display: inline-block;
	width: 325px;
	font-weight: bold;
}

 .item_tooltip {
	 display: none;
	 text-align: left;
	 color: white;
	 font-weight: normal;
	 background-color: rgba(120, 120, 120, 0.8);
	 border-radius: 10px;
	 margin-left: 30px;
	 margin-top:20px;
	 top: var(--item_tooltip_top);
	 left: var(--item_tooltip_left);
	 padding: 5px;
	 position: absolute;
	 z-index: 1000;
	 max-width: 300px;
	 width: fit-content;
	 height: auto;
 }

 .equipment_slot_div:hover .item_tooltip, .trader_item_control:hover .item_tooltip, 
 .inventory_item_control:hover .item_tooltip, .equipped_item_control:hover .item_tooltip{
	display: block;
}

 .stat_tooltip {
	display: none;
	background-color: rgba(120, 120, 120, 0.8);
	border-radius: 10px;
	margin-left: 30px;
	padding: 5px;
	position: absolute;
	z-index: 1000;
	max-width: 300px;
	width: fit-content;
	height: auto;
 }

 .stat_slot_div:hover .stat_tooltip {
	 display: block;
 }

 .skill_tooltip {
	display: none;
	background-color: rgba(120, 120, 120, 0.9);
	border-radius: 10px;
	margin-left: 30px;
	padding: 5px;
	position: absolute;
	z-index: 1000;
	max-width: 300px;
	width: fit-content;
	height: auto;
 }

 .skill_bar_max:hover .skill_tooltip {
	 display: block;
 }

 .equip_item_button {
	 color: white;
	 font-size: 15;
	 font-weight: bold;
	 display: inline-block;
	 cursor: pointer;
	 width: 15px;
 }

 .unequip_item_button {
	color: gold;
	font-size: 15;
	width: 15;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
	background-color: rgba(255, 236, 128, 0.3);
 }

 .inventory_control_button {
	float:left;
	padding: 3px;
	min-width: 74px;
	text-align: center;
	border: 1px solid white;
	cursor: pointer;
 }

 .character_control_button {
	float:left;
	padding: 6px;
	min-width: 186px;
	font-size: 14;
	text-align: center;
	border: 1px solid white;
	cursor: pointer;
 }

 .character_item_equippable {
	display: var(--equipment_display)
 }

 .character_item_usable {
	display: var(--consumables_display)
 }

 .character_item_other {
	display: var(--other_display);
 }

.message_border { 
	border-bottom: 1px solid #47465f;
	position: relative;
	bottom: 0px;
	padding-top: 5px;
	max-width: 350px;
	margin: auto;
}

.equipment_slot_div {
	text-align: center;
	font-size: 14;
	width: 100%;
	height: 32px;
	margin-bottom: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	color: white;
	border: 1px solid white;
	padding-top: auto;
}

.equipment_slot_empty {
	color: silver;
	font-style: italic;
	font-size: 12;
}

.equipment_slot_empty .item_tooltip {
	font-size: 14;
	font-style: normal;
}

.amulet_slot_div {
	height: 16px;
}

.grid_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.stat_slot_div {
	font-size: 15;
	width: 100%;
	height: 17px;
	margin-bottom: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	color: white;
	border: 1px solid white;
}

.stat_value {
	text-align: right;
	display: inline-block;
	width: 65px;
}

.stat_name {
	display: inline-block;
	width: 98px;
	padding-left: 4px;
}

.actions_div {
	height: 370px;
	width: 450;
	overflow-y: scroll;
}

.action_selection_button {
	float:left;
	padding: 3px;
	width: 142px;
	text-align: center;
	border: 1px solid white;
	cursor: pointer;
	font-size: 20;
	color: white;
}

.skill_bar_max {
	border: 2px solid rgb(3, 255, 36);
	margin: auto;
	margin-top: 10px;
	width: 90%;
}

.skill_bar_current {
	background-color: rgb(3, 255, 36);
	height: 15px;
}

.skill_bar_text {
	display: flex;
	color: white;
	width: 100%;
}

.skill_bar_name {
	text-align: left;
	width: 80%;
}

.skill_bar_xp {
	text-align: right;
	width: 20%;
	float: right;
}

.skill_bar_text:after {
	clear: both;
}

.sl_button {
	width: fit-content;
	padding: 10px 10px;
	height: 20;
	background-image: linear-gradient(to left, #232f47, #15152d);
	color: white;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}

.sl_button:hover {
	background-image: none;
	background-color: #2c3953;
}

.trader_category_button {
	float:left;
	padding: 3px 0px 3px 0px;
	min-width: 110.5px;
	text-align: center;
	color: white;
	border: 1px solid white;
	margin-top: 5px;
	cursor: pointer;
}

.character_sorting_button {
    float:left;
	width: 173;
	text-align: center;
	border: 1px solid white;
	cursor: pointer;
	font-size: 16;
	color: white;
}


.character_control_button:hover, .inventory_control_button:hover, .action_selection_button:hover, 
.trader_category_button:hover, .trader_sorting_button:hover, .active_selection_button, .character_sorting_button:hover {
	background-color: #435270;
	background-image: none;
}

.trader_item_control.item_to_trade {
	background-color: rgba(255, 0, 0, 0.4);

}

.character_item_control.item_to_trade {
	background-color: rgba(0, 128, 0, 0.4);
}

.trade_ammount_button {
	display: var(--trade_ammount_button_display);
	border-right: 1px solid white;
	border-left: 1px solid white;
	
}

.trade_ammount_button, .item_use_button {
	color: white;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 5px;
	cursor: pointer;
}

.item_use_button {
	display: var(--item_use_button_display);
	width: 40px;
	font-weight: bold;
}

.item_stackable {
	width: 291px;
}

.item_stackable.item_other {
	width: var(--item_other_width);
}

.trader_item_control  .item_stackable {
	width: 391px;
}

.effects_div {
	display: inline-block;
}

#accept_trade_button, #cancel_trade_button, .trader_sorting_button {
    float:left;
	width: 223;
	text-align: center;
	border: 1px solid white;
	cursor: pointer;
	font-size: 16;
	color: white;
}
#accept_trade_button {
	background-color: green;
}

#active_effect_count {
	text-align: right;
	width: 90px;
	font-weight: bold;
}

#cancel_trade_button {
	background-color: red;
}

#action_selection_div {
	width: 450px;
	height: 400px;
	left: 360px;
	top: 360px;
}

#action_control_div {
	position: absolute;
	bottom: 0;
}

#basic_character_info_div {
    width: 400px;
    height: 120px;
    z-index: 100;
}

#bottom_panel_div {
	display: flex;
	position: fixed;
	width: 100%;
	height: 40px;
	background-image: linear-gradient(to right, #232f47, #15152d);
	border-top: 3px solid #0e0e25;
	bottom: 0;
	left: 0;
}

@media only screen and (max-height: 830px) {
	#bottom_panel_div {
		position: absolute;
		top: 780px;
	}
}

#character_div {
    width: 400px;
    top: 126px;
    padding-top: 7px;
    height: 220px;
	max-width: 400px;
	max-height: 300px;
    border-top: none;
}

#character_name_div {
	width: 50%;
	margin: auto;
}

#character_name_field {
	text-align: center;
	width: 100%;
	margin: auto;
	background-color: inherit;
	border: 2px solid white;
	background-color: white;
}

#character_health_div {
	top: 50px;
}

#character_healthbar_max {
	border: 2px solid red;
	margin: auto;
	margin-bottom:10px;
	width: 85%;
}
#character_healthbar_current {
	background-color: rgb(255, 46, 46);
	height: 15px;
}

#character_health_value, #character_health_text, #character_xp_value, #character_level_div {
	color: white;
	width: 100%;
}
#character_health_value, #character_health_text {
	text-align: center;
}

#character_health_value {
	position: fixed;
	width: 400px;
	top: 56px;
}
#character_health_text, #character_level_div {
	text-align: left; margin-left: 28px;
}


#character_xp_bar_max {
	border: 2px solid rgb(255, 126, 0);
	margin: auto;
	width: 85%;
}

#character_xp_bar_current {
	height: 16px;
	background-color: orange;
	width: 0px;
}

#character_xp_value {
	position: fixed;
	width: 400px;
	top: 104px;
	text-align: center;
}

#character_title_div {
	margin-top:5px;
	color: white;
	width: 100%;
	text-align: center;
	font-style: italic;
}

#character_equipment_div { 
	margin: auto;
	width: 350px;
	display: none;
}

#character_stats_div {
	display: grid;
	width: 350px;
	margin: auto;
}

#character_control_div {
	color: white;
	position: absolute;
	bottom: 0;
}

#effects_div {
	background-color: #232f47;
	font-size: 16;
	color: white;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	width: 200px;
	left: 120px;
	top: 294px;
	position: fixed;
}

#effects_tooltip {
	display: none;
	position: absolute;
	left: 220px;
	z-index: 1000;
	background-color: rgba(120, 120, 120, 0.9);
	color: white;
	border-radius: 10px;
	margin-left: 30px;
	padding: 10px; 
	max-width: 300px;
	width: fit-content;
	height: auto;
}

#exit_trade_button {
	float:left;
	width: 448;
	text-align: center;
	border: 1px solid white;
	border-top: none;
	border-bottom: none;
	cursor: pointer;
	font-size: 20;
	padding: 1px 0px 1px 0px;
	color: white;
}


#enemy_healthbar_max {
	border: 2px solid red;
	margin: auto;
	margin-top: 10px;
	width: 60%;
}

#enemy_healthbar_current {
	background-color: rgb(255, 46, 46);
	height: 15px;
}

#enemy_health_value, #enemy_stats_div, #enemy_name_div {
	color: white;
	width: 100%;
	text-align: center;
	height: 18px;
}

#enemy_count_div { 
	width: 100%;
	border-top: 1px solid white;
}

#enemy_count_content {
	color: white;
	width: 150px;
	margin-right: 5;
	margin-left: auto;
	text-align: right;
}

#enemies_left_div {
	width: 30px;
	display: inline-block;
	text-align: right;
}

#inventory_content_div {
	height: 327px;
	overflow-y: scroll;
	overflow-x: visible;
}

#inventory_control_div {
	color: white;
	font-size: 20;
	position: absolute;
	top: 370px;
}

#inventory_div {
	width: 350px;
	height: 400px;
	top: 360;
}

#journal_div {
	display: none;
}

#location_actions_div {
	display: block;
}

#location_div {
	width: 400px;
	height: 350px;
	margin-bottom: 5px;
	left: 410px;
}

#location_data_div {
	height: 216px;
	color: white;
	text-align: center;
}

#location_name_div {
	font-size: 20;
	border-top: 1px solid white;
	padding-top: 5px;
}

#location_description_div {
	font-style: italic;
}

#main_controller {
	height: 40px;
    margin-bottom: 5px;
    display: flex;
	height: 40px;
    width: fit-content;

}

#main_content {
    position: relative;
}

#message_log_div {
	width: 400px;
	height: 760px;
	left: 820px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 15px;
	margin-bottom: 20px;
}

#money_div {
	color: white;
	border-bottom: 1px solid white;
	padding: 2px 5px 2px 5px;
}


#saved_file_input {
	display: none;
}

#skill_list_div {
	display: none;
}

#time_div {
	font-size: 20;
	color: white;
	padding-right:5px;
	padding-bottom: 5px;
	padding-top: 3px;
	text-align: right;
}

#test_button {
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: silver;
	bottom: 50px;
}

#trade_div {
    display: none;
}

#trader_inventory_div {
    height: 250px;
}

#trade_price_div {
	color: white;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding: 2px 1px 2px 1px;
	width: 292px;
	float: left;
	
}

#trader_cost_mult {
	width: 150px;
	color: white;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding: 2px 1px 2px 1px;
	float:left;
	color: orange;
	font-weight: bold;
}

#trader_cost_mult_text {
	width: 75px;
	float: left;
	padding-left: 5px;
}

#trader_cost_mult_value {
	width: 65px;
	float: left;
	text-align: right;
	padding-right: 5px;
}


#trade_price_text {
	display: inline-block;
	width: 80px;
	padding-left: 5px;
}

#trade_price_value {
	width: 195px;
	display: inline-block;
	text-align: right;
	padding-right: 5px;
}

#unused_stat_div {
	background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.9), rgba(0, 0, 0, 0.9));
}


/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
  }

::-webkit-scrollbar-track {
	background: #191928; 
  }
   
::-webkit-scrollbar-thumb {
	background: silver; 
  }
  
::-webkit-scrollbar-thumb:hover {
	background: white; 
  }