:root {
	--equipment_display: initial;
	--consumables_display: initial;
	--other_display: initial;
	--stats_display: grid;
	--equipped_display: none;
	--location_actions_display: block;
	--skill_list_display: none;
	--journal_display: none;
}

body {
	background-color: #05040f;
	font-family: sans-serif;
	cursor: default;
}

.box_div {
	background-image: linear-gradient(to bottom right, #232f47, #15152d);
	border: 3px solid #797691;
	position: absolute;
}

.text_div {
	background-color: inherit;
	position: absolute;
	width: 100%;
}

.message_common { 
	text-align: center;
	width: inherit;
	max-width: 395px;
	height: auto;
	display: inline-block;
	word-wrap: break-word;
	padding: 2px;
	padding-right:20px;
	font-size: 12;
}

.message_default {
	color: white;
 }

 .message_items_obtained {
	 color: gold;
	 font-weight: bold;
 }

 .message_victory {
	 color: green;
	 font-weight: bold;
 }

 .message_hero_defeated {
	 color:crimson;
	 font-weight: bold;
 }

 .message_enemy_attacked {
	 color: lightblue;
 }

 .message_enemy_attacked_critically {
	color: rgb(90, 151, 221);
 }

 .message_hero_attacked {
	 color: crimson;
 }
 .message_hero_attacked_critically {
	 color: crimson;
	 font-weight: bold;
 }

 .action_travel {
	 text-align: center;
	 font-size: 20;
	 color: white;
	 border-bottom: 1px solid white;
	 cursor: pointer;
	 padding: 5px;
 }

 .inventory_item {
	 color: white;
	 font-size:15;
	 display: inline-block;
	 width: 325px;
 }

 .item_tooltip {
	 display: none;
	 background-color: rgba(120, 120, 120, 0.8);
	 border-radius: 10px;
	 margin-left: 30px;
	 padding: 5px;
	 position: absolute;
	 z-index: 1000;
	 max-width: 300px;
	 width: fit-content;
	 height: auto;
 }

 .inventory_item:hover .item_tooltip {
	display: block;
}

 .stat_tooltip {
	display: none;
	background-color: rgba(120, 120, 120, 0.8);
	border-radius: 10px;
	margin-left: 30px;
	padding: 5px;
	position: absolute;
	z-index: 1000;
	max-width: 300px;
	width: fit-content;
	height: auto;
 }

 .stat_slot_div:hover .stat_tooltip {
	 display: block;
 }

 .equip_item_button {
	 color: white;
	 font-size: 15;
	 font-weight: bold;
	 display: inline-block;
	 cursor: pointer;
 }

 .inventory_control_button {
	float:left;
	padding: 3px;
	min-width: 74px;
	text-align: center;
	border: 1px solid white;
	cursor: pointer;
 }

 .character_control_button {
	float:left;
	padding: 6px;
	min-width: 186px;
	font-size: 14;
	text-align: center;
	border: 1px solid white;
	cursor: pointer;
 }

 .item_equippable {
	display: var(--equipment_display)
 }

 .item_usable {
	display: var(--consumables_display)
 }

 .item_other {
	display: var(--other_display)
 }

.message_border { 
	border-bottom: 1px solid #47465f;
	position: relative;
	bottom: 0px;
	padding-top: 5px;
	max-width: 350px;
	margin: auto;
}

.equipment_slot_div {
	text-align: center;
	font-size: 14;
	width: 100%;
	height: 32px;
	margin-bottom: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	color: white;
	border: 1px solid white;
}

.equipment_slot_empty {
	color: silver;
	font-style: italic;
}

.equipment_tooltip {
	display: none;
	text-align: left;
	background-color: rgba(120, 120, 120, 0.8);
	border-radius: 10px;
	margin-left: 30px;
	padding: 5px;
	position: absolute;
	z-index: 1000;
	max-width: 400px;
	width: fit-content;
	height: auto;
	font-style: normal;
	color: white;
}

.equipment_slot_div:hover .equipment_tooltip {
	display: block;
}

.amulet_slot_div {
	height: 16px;
}

.grid_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.stat_slot_div {
	font-size: 15;
	width: 100%;
	height: 17px;
	margin-bottom: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	color: white;
	border: 1px solid white;
}

.stat_value {
	text-align: right;
	display: inline-block;
	width: 65px;
}

.stat_name {
	display: inline-block;
	width: 98px;
	padding-left: 4px;
}

.actions_div {
	height: 370px;
	width: 100%;
	overflow-y: scroll;
}

.action_selection_button {
	float:left;
	padding: 3px;
	width: 142px;
	text-align: center;
	border: 1px solid white;
	cursor: pointer;
	font-size: 20;
	color: white;
}

.skill_bar_max {
	border: 2px solid rgb(3, 255, 36);
	margin: auto;
	margin-top: 10px;
	width: 90%;
}

.skill_bar_current {
	background-color: rgb(3, 255, 36);
	height: 15px;
}

.skill_bar_text {
	display: flex;
	color: white;
	width: 100%;
}

.skill_bar_name {
	text-align: left;
	width: 80%;
}

.skill_bar_xp {
	text-align: right;
	width: 20%;
	float: right;
}

.skill_bar_text:after {
	clear: both;
}

.sl_button {
	width: fit-content;
	padding: 10px 10px;
	height: 40px;
	background-image: linear-gradient(to left, #232f47, #15152d);
	color: white;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}

.sl_button:hover {
	background-image: none;
	background-color: #2c3953;
}

#action_selection_div {
	width: 450px;
	height: 400px;
	left: 370px;
	top: 320px;
}

#action_control_div {
	position: absolute;
	bottom: 0;
}

#bottom_panel_div {
	display: flex;
	position: fixed;
	width: 100%;
	height: 40px;
	background-image: linear-gradient(to right, #232f47, #15152d);
	border-top: 3px solid #0e0e25;
	bottom: 0;
	left: 0;
}

#character_div {
	width: 400px;
	height: 300px;
}

#character_name_div {
	width: 50%;
	margin: auto;
}

#character_name_field {
	text-align: center;
	width: 100%;
	margin: auto;
	background-color: inherit;
	border: 2px solid white;
	background-color: white;
}

#character_healthbar_max {
	border: 2px solid red;
	margin: auto;
	margin-top:10px;
	width: 60%;
}
#character_healthbar_current {
	background-color: rgb(255, 46, 46);
	height: 15px;
}

#character_health_value {
	color: white;
	width: 100%;
	text-align: center;
}

#character_title_div {
	margin-top:5px;
	color: white;
	width: 100%;
	text-align: center;
	font-style: italic;
}

#character_equipment_div { 
	margin: auto;
	width: 350px;
	display: var(--equipped_display);
}

#character_stats_div {
	display: var(--stats_display);
	width: 350px;
	margin: auto;
}

#character_control_div {
	color: white;
	position: absolute;
	bottom: 0;
}

#enemy_info_div {
	opacity: 0;
}

#enemy_healthbar_max {
	border: 2px solid red;
	margin: auto;
	margin-top: 10px;
	width: 60%;
}

#enemy_healthbar_current {
	background-color: rgb(255, 46, 46);
	height: 15px;
}

#enemy_health_value, #enemy_stats_div, #enemy_name_div {
	color: white;
	width: 100%;
	text-align: center;
	height: 18px;
}

#inventory_content_div {
	height: 370px;
	overflow-y: scroll;
	overflow-x: visible;
}

#inventory_control_div {
	color: white;
	font-size: 20;
}

#inventory_div {
	width: 350px;
	height: 400px;
	top: 320;
}

#journal_div {
	display: var(--journal_display);
}

#location_actions_div {
	display: var(--location_actions_display);
}

#location_div {
	width: 400px;
	height: 300px;
	margin-bottom: 5px;
	left: 420;
}

#location_data_div {
	height: 184px;
	color: white;
	text-align: center;
}

#location_name_div {
	font-size: 20;
	border-top: 1px solid white;
	padding-top: 5px;
}

#location_description_div {
	font-style: italic;
}

#message_log_div {
	width: 400px;
	height: 712px;
	left: 832px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 15px;
	margin-bottom: 20px;
}

#skill_list_div {
	display: var(--skill_list_display);
}

#time_div {
	font-size: 20;
	color: white;
	padding-right:5px;
	padding-bottom: 5px;
	padding-top: 3px;
	text-align: right;
}

#test_button {
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: silver;
	top: 750;
}



/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
  }

::-webkit-scrollbar-track {
	background: #191928; 
  }
   
::-webkit-scrollbar-thumb {
	background: silver; 
  }
  
::-webkit-scrollbar-thumb:hover {
	background: white; 
  }