body {
	background-color: #05040f;
}

.box_div {
	background-image: linear-gradient(to bottom right, #232f47, #15152d);
	border: 3px solid #797691;
	position: absolute;
}

.text_div {
	background-color: inherit;
	position: absolute;
	width: 100%;
}

.message_common { 
	text-align: center;
	width: inherit;
	max-width: 395px;
	height: auto;
	display: inline-block;
	word-wrap: break-word;
	padding: 2px;
	padding-right:20px;
	font-size: 12;
}

.message_default {
	color: white;
 }

 .message_items_obtained {
	 color: gold;
	 font-weight: bold;
 }

 .message_victory {
	 color: green;
	 font-weight: bold;
 }

 .message_hero_defeated {
	 color:crimson;
	 font-weight: bold;
 }

 .message_enemy_attacked {
	 color: lightblue;
 }

 .message_hero_attacked {
	 color: crimson;
 }
 .message_hero_attacked_critically {
	 color: crimson;
	 font-weight: bold;
 }

 .action_travel {
	 text-align: center;
	 font-size: 20;
	 color: white;
	 border-bottom: 1px solid white;
	 cursor: pointer;
	 padding: 5px;
 }

.message_border { 
	border-bottom: 1px solid #47465f;
	position: relative;
	bottom: 0px;
	padding-top: 5px;
	max-width: 350px;
	margin: auto;
}

#test_button {
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: silver;
	top: 750;
}

#character_div {
	width: 400px;
	height: 300px;
}
#inventory_div {
	width: 350px;
	height: 400px;
	top: 320;
}
#location_div {
	width: 400px;
	height: 300px;
	margin-bottom: 5px;
	left: 420;
}

#action_div {
	width: 450px;
	height: 400px;
	left: 370px;
	top: 320px;
}

#message_log_div {
	width: 400px;
	height: 712px;
	left: 832px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 15px;
	margin-bottom: 20px;
}

#character_name_div {
	width: 50%;
	margin: auto;
}

#character_name_field {
	text-align: center;
	width: 100%;
	margin: auto;
	background-color: inherit;
	border: 2px solid white;
	background-color: white;
}

#character_healthbar_max {
	border: 2px solid red;
	margin: auto;
	margin-top:10px;
	width: 60%;
}
#character_healthbar_current {
	background-color: rgb(255, 46, 46);
	height: 15px;
}

#character_health_value {
	color: white;
	width: 100%;
	text-align: center;
}

#character_title_div {
	margin-top:5px;
	color: white;
	width: 100%;
	text-align: center;
	font-style: italic;
}

#time_div {
	font-size: 20;
	color: white;
	padding-right:5px;
	text-align: right;
}

#enemy_info_div {
	opacity: 0;
}

#enemy_healthbar_max {
	border: 2px solid red;
	margin: auto;
	margin-top: 10px;
	width: 60%;
}

#enemy_healthbar_current {
	background-color: rgb(255, 46, 46);
	height: 15px;
}

#enemy_health_value, #enemy_stats_div, #enemy_name_div {
	color: white;
	width: 100%;
	text-align: center;
}

#location_info_div {
	height: 60%;
}


/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
  }

::-webkit-scrollbar-track {
	background: #191928; 
  }
   
::-webkit-scrollbar-thumb {
	background: silver; 
  }
  
::-webkit-scrollbar-thumb:hover {
	background: white; 
  }