
:root {
	--background_gradient: linear-gradient(to bottom right, #232f47, #15152d);

	--equipment_display: inline-block;
	--consumables_display: inline-block;
	--other_display: inline-block;

	--inventory_div_display: none;

	--trader_equipment_display: inline-block;
	--trader_consumable_display: inline-block;
	--trader_other_display: inline-block;

	--trade_ammount_button_display: none;
	--item_use_button_display: inline-block;
	 
	--item_other_width_default: 319px; /* value for out of trade */
	--item_other_width_trade: 285px; /* value for in trade */
	--item_other_width: var(--item_other_width_default); /* modified in index.html on trade start/end to fit the buttons */

	--item_tooltip_top: 0px;
	--item_tooltip_left: 0px;

	--job_tooltip_top: 0px;
	--job_tooltip_left: 0px;

	--skill_tooltip_top: 0px;
	--skill_tooltip_left: 0px;
}

body {
	background-color: #05040f;
	font-family: sans-serif;
	cursor: default;
	color: white;
}

.box_div {
	background-image: var(--background_gradient);
	border: 3px solid #797691;
	position: absolute;
}

.text_div {
	background-color: inherit;
	position: absolute;
	width: 100%;
}

.message_common { 
	text-align: center;
	width: inherit;
	max-width: 395px;
	height: auto;
	display: inline-block;
	word-wrap: break-word;
	padding: 2px;
	padding-right:20px;
	font-size: 12;
}

.message_default {
	/*
	color: white;
	*/
 }

 .message_items_obtained {
	 color: gold;
	 font-weight: bold;
 }

 .message_victory {
	 color: green;
	 font-weight: bold;
 }

 .message_hero_defeated {
	 color:crimson;
	 font-weight: bold;
 }

 .message_enemy_attacked {
	 color: lightblue;
 }

 .message_enemy_attacked_critically {
	color: rgb(90, 151, 221);
 }

 .message_hero_attacked {
	 color: crimson;
 }
 .message_hero_attacked_critically {
	 color: crimson;
	 font-weight: bold;
 }

 .message_travel {
	 font-weight: bold;
 }

 .message_dialogue_question {
	text-align: left;
 }

 .message_dialogue_answer {
	font-style: italic;
 }

 .message_dialogue_answer, .message_dialogue_question {

 }

 .message_location_unlocked {
	 font-weight: bold;

 }

 .action_travel, .start_dialogue, .dialogue_trade, .start_activity, #action_status_div, #action_end_div {
	text-align: left;
	font-size: 20;

	border-bottom: 1px solid white;
	cursor: pointer;
	padding: 5px;
 }

 .end_dialogue_button {
	text-align: center;
	font-size: 20;

	border-bottom: 1px solid white;
	cursor: pointer;
	padding: 5px;
 }

 #action_status_div, #action_end_div {
	text-align: center;
	font-size: 20;

	border-bottom: 1px solid white;
	cursor: pointer;
	padding: 5px;
 }

 .fas, .far {
	 width: 30px;
 }

.activity_unavailable {
	text-align: left;
	 font-size: 20;
	 color: gray;
	 border-bottom: 1px solid white;
	 cursor: not-allowed;
	 padding: 5px;
}

.action_travel:hover, .start_dialogue:hover, .start_activity:hover,
.dialogue_textline:hover, .end_dialogue_button:hover, .dialogue_trade:hover {
	background-color: #2c3953;
}
.dialogue_textline {
	text-align: center;
	font-size: 16;
	font-style: italic;

	border-bottom: 1px solid white;
	cursor: pointer;
	padding: 5px;
}

.inventory_item, .trader_item {
	 font-size: 14;
	 display: inline-block;
}

.equipped_item_control {
	color: gold;
	font-size: 14;
	background-color: rgba(255, 236, 128, 0.3);
	padding-bottom: 2px;
	padding-top: 2px;
}

.inventory_equipped_item {
	display: inline-block;
	width: 259px; 
	font-weight: bold;
}

.inventory_item_control {
	border-bottom: 1px dotted white;
}

.item_tooltip, .job_tooltip {
	 display: none;
	 text-align: left;
	 color: white;
	 font-weight: normal;
	 background-color: rgba(120, 120, 120, 0.9);
	 border-radius: 10px;
	 margin-left: 30px;
	 margin-top: 20px;
	 padding: 5px;
	 position: absolute;
	 z-index: 1000;
	 max-width: 300px;
	 width: fit-content;
	 height: auto;
	 pointer-events: none;
}

.item_tooltip {
	top: var(--item_tooltip_top);
	left: var(--item_tooltip_left);
}
.job_tooltip {
	top: var(--job_tooltip_top);
	left: var(--job_tooltip_left);
	font-size: 16;
}

.equipment_slot_div:hover .item_tooltip, .trader_item_control:hover .item_tooltip, .inventory_item_control:hover .item_tooltip, 
.equipped_item_control:hover .item_tooltip, .start_activity:hover .job_tooltip, .activity_unavailable:hover .job_tooltip, 
.effects_div:hover .effects_tooltip{
	display: block;
}

.stat_tooltip {
	display: none;
	background-color: rgba(120, 120, 120, 0.8);
	border-radius: 10px;
	margin-left: 30px;
	padding: 5px;
	position: absolute;
	z-index: 1000;
	max-width: 300px;
	width: fit-content;
	height: auto;
	pointer-events: none;
}

.stat_slot_div:hover .stat_tooltip {
	 display: block;
}

.skill_tooltip {
	display: none;
	background-color: rgba(120, 120, 120, 0.9);
	border-radius: 10px;
	padding: 5px;
	position: absolute;
	z-index: 1000;
	max-width: 300px;
	width: fit-content;
	height: auto;
	top: var(--skill_tooltip_top);
	left: var(--skill_tooltip_left);
	pointer-events: none;
}
		.skill_tooltip_next_milestone {
			color: rgb(206, 206, 206);
		}

		.skill_bar_max:hover .skill_tooltip {
			display: block;
		}

.item_slot {
	color: rgb(149, 255, 190);
}

.equip_item_button {
	 cursor: pointer;
	 font-weight: bold;
	 font-size: 14;
	 display: inline-block;
	 width: 48px;
}

.unequip_item_button {
	font-weight: bold;
	cursor: pointer;
	width: 60px;
	display: inline-block;
}

.item_use_button {
	display: var(--item_use_button_display);
	width: 34px;
	font-weight: bold;
	cursor: pointer;
	font-size: 14;
}

.item_controls {
	display: inline-block;
}

.item_value {
	text-align: right;
	font-size: 14;
	width: 61px;
	border-left: 1px solid white;
	margin-left: 4px;
	padding-left: 4px;
}

.inventory_control_button {
	float:left;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	min-width: 85.4px; /* ouch */
	text-align: center;
	outline: 1px solid white;
	margin: 1px;
	cursor: pointer;
}

.item_stackable {
	width: 303px;
}

.item_equippable {
	width: 271px;
}
.trade_item_equippable {
	width: 287px;
}

.character_item_control.item_to_trade {
	background-color: rgba(0, 128, 0, 0.4);
}

.item_stackable.item_other {
	width: var(--item_other_width);
}

.character_item_equippable {
	display: var(--equipment_display);
}

.character_item_usable {
	display: var(--consumables_display);
}

.character_item_other {
	display: var(--other_display);
}

.character_control_button {
	float:left;
	padding: 6px;
	min-width: 186px;
	font-size: 14;
	text-align: center;
	margin: 1px;
	outline: 1px solid white;
	cursor: pointer;
}

.message_border { 
	border-bottom: 1px solid #47465f;
	position: relative;
	bottom: 0px;
	padding-top: 5px;
	max-width: 350px;
	margin: auto;
}

.equipment_slot_div {
	text-align: center;
	font-size: 14;
	width: 100%;
	height: 32px;
	margin-bottom: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border: 1px solid white;
	padding-top: auto;
}

.equipment_slot_empty {
	color: silver;
	font-style: italic;
	font-size: 12;
}

.equipment_slot_empty .item_tooltip {
	font-size: 14;
	font-style: normal;
}

.amulet_slot_div {
	height: 16px;
}

.grid_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.stat_slot_div {
	width: 100%;
	height: 20px;
	padding-top: 2px;
	margin-left: 1px;
	outline: 1px solid white;
}

.stat_value {
	text-align: right;
	display: inline-block;
	width: 65px;
}

.stat_name {
	display: inline-block;
	width: 98px;
	padding-left: 4px;
}

.actions_div {
	height: 370px;
	width: 100%;
	overflow-y: scroll;
}

.skill_bar_max {
	border: 2px solid rgb(3, 255, 36);
	margin: auto;
	margin-top: 10px;
	width: 90%;
}

.skill_bar_current {
	background-color: rgb(3, 255, 36);
	height: 15px;
}

.skill_bar_text {
	display: flex;
	color: white;
	width: 100%;
}

.skill_bar_name {
	text-align: left;
	width: 80%;
}

.skill_bar_xp {
	text-align: right;
	width: 20%;
	float: right;
}

.skill_bar_text:after {
	clear: both;
}

.sl_button {
	width: fit-content;
	padding: 10px 10px;
	height: 20px;
	background-image: linear-gradient(to left, #232f47, #15152d);
	color: white;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}

.sl_button:hover {
	background-image: none;
	background-color: #2c3953;
}

.trader_category_button {
	float:left;
	padding: 3px 0px 3px 0px;
	width: 98px;
	text-align: center;
	outline: 1px solid white;
	margin: 2px 1px;
	cursor: pointer;
}

.character_sorting_button {
    float: left;
	width: 198px;
	text-align: center;
	outline: 1px solid white;
	cursor: pointer;
	margin: 1px;
	font-size: 16;
}


.character_control_button:hover, .inventory_control_button:hover, 
.trader_category_button:hover, .trader_sorting_button:hover, .active_selection_button, .character_sorting_button:hover {
	background-color: #435270 !important;
	background-image: none;
}

.trader_item_control.item_to_trade {
	background-color: rgba(255, 0, 0, 0.4);
}

.trade_ammount_button {
	display: var(--trade_ammount_button_display);
	cursor: pointer;
	font-weight: bold;
	font-size: 14;
	width: 17px;
}

.trader_item_control  .item_stackable {
	width: 285px;
}

.trader_item {
	width: 319px;
}

.trader_item_other {
	display: var(--trader_other_display);
}
.trader_item_equippable {
	display: var(--trader_equipment_display);
}
.trader_item_usable {
	display: var(--trader_consumable_display);
}

.page_selection_button {
	width: 250px;
	font-size: 20;
	font-weight: bold;
	text-align: center;
	position: relative;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #202044;
	float: left;
	cursor: pointer;
}

#page_selection {
	position: absolute;
}

#area_page {
	position: absolute;
	top: 20px;
}

#character_page {
	position: absolute;
	top: 20px;
	display: none;
}

#accept_trade_button, #cancel_trade_button, .trader_sorting_button {
    float:left;
	width: 198;
	text-align: center;
	outline: 1px solid white;
	margin: -1px 1px;
	cursor: pointer;
	font-size: 16;
}
#accept_trade_button {
	background-color: green;
}

#active_effect_count {
	text-align: right;
	width: 90px;
	font-weight: bold;
}

#action_status_div, #not_enough_time_for_earnings_div {
	font-size: 16;
	font-style: italic;
	cursor: default;
}
#not_enough_time_for_earnings_div, #action_xp_div {
	color: rgb(192,192,192);
	border-bottom: 1px solid white;
	text-align: center;

	padding: 5px;
}

#action_end_text, #action_end_earnings {
	display: inline;
}

#action_end_earnings {

	font-style: italic;
	color: gray;
	padding-left: 10px;
}

#cancel_trade_button {
	background-color: red;
}

#location_related_div {
	width: 400px;
	height: 400px;
	left: 410px;
	top: 360px;
}

#basic_character_info_div {
    width: 400px;
    height: 120px;
    z-index: 100;
	top: 20px;
}

#bottom_panel_div {
	display: flex;
	position: fixed;
	width: 100%;
	height: 40px;
	background-image: linear-gradient(to right, #232f47, #15152d);
	border-top: 3px solid #0e0e25;
	bottom: 0;
	left: 0;
}
		@media only screen and (max-height: 853px) {
			#bottom_panel_div {
				position: absolute;
				top: 797px;
			}
		}

#character_div {
    width: 400px;
    top: 126px;
    padding-top: 7px;
    height: 220px;
	max-width: 400px;
	max-height: 300px;
    border-top: none;
}

#character_name_field {
	text-align: center;
	width: 120px;
	margin: auto;
	border: 0px;
	background-color: #3a4e75;
	color: white;
	position: absolute;
	top: 2px;
	font-size: 16;
	left: 140px;
}

#character_health_div {
	padding-top: 20px;
}

#character_healthbar_max {
	outline: 2px solid rgb(199, 0, 0);
	background-color: rgba(255, 46, 46, 0.3);
	margin: auto;
	width: 85%;
	height: 14px;
}
#character_healthbar_current {
	background-color: rgb(255, 46, 46);
	height: 100%;
}

#character_health_value, #character_health_text, #character_xp_value, #character_level_div {
	color: white;
	width: 100%;
}
#character_health_value, #character_health_text {
	text-align: center;
}

#character_health_value {
	position: absolute;
	width: 400px;
	top: 24px;
	font-size: 15;
}
#character_health_text {
	text-align: left; margin-left: 28px;
}

#character_level_div {
	text-align: center;
	border: 1px solid white;
	padding-top: 1px;
	padding-bottom: 1px;
	width: 350px;
	font-weight: bold;
}

#character_mana_bar_max {
	outline: 2px solid rgb(0, 0, 127);
	margin: auto;
	width: 85%;
	margin-top: 10px;
	height: 15px;
	background-color: rgba(0, 0, 255, 0.3);
}

#character_mana_bar_current {
	height: 15px;
	width: 0%;
	background-color: rgb(15, 15, 255);
}

#character_mana_value {
	position: absolute;
	font-size: 15;
	width: 400px;
	top: 72px;
	text-align: center;
}

#character_stamina_bar_max {
	outline: 2px solid rgb(0, 127, 0);
	margin: auto;
	width: 85%;
	margin-top: 10px;
	height: 15px;
	background-color: rgba(0, 255, 0, 0.3);
}

#character_stamina_bar_current {
	height: 15px;
	background-color: rgb(0, 196, 0);
}

#character_stamina_value {
	position: absolute;
	width: 400px;
	top: 48px;
	text-align: center;
	font-size: 15;
}

#character_xp_bar_max {
	outline: 2px solid rgb(255, 126, 0);
	margin: auto;
	margin-top: 10px;
	width: 85%;
	height: 15px;
	background-color: rgba(255, 165, 0, 0.3);
}

#character_xp_bar_current {
	height: 15px;
	background-color: orange;
}

#character_xp_value {
	position: absolute;
	font-size: 15;
	width: 400px;
	top: 98px;
	text-align: center;
}

#character_title_div {
	margin-top:5px;
	color: white;
	width: 100%;
	text-align: center;
	font-style: italic;
}

#character_equipment_div { 
	margin: auto;
	width: 350px;
	position: relative;
	top: 5px;
	display: none;
}

#character_stats_div {
	width: 350px;
	margin: auto;
}

#character_control_div {
	color: white;
	position: absolute;
	bottom: 0;
}

#effects_div {
	font-size: 16;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	width: 200px;
	position: relative;
	background-color: #232f47;
}
		#character_effects_character_page {
			position: absolute;
			top: 166px;
			left: 100px;
		}
		#character_effects_area_page {
			position: absolute;
			top: 126px;
			left: 0px;
			width: 390px;
			border-top: 0px;
			padding: 5px;
		}
				#character_effects_area_page div {
					margin: auto;
				}


#effects_div div{
	display: inline-block;
}

#effects_tooltip {
	display: none;
	position: absolute;
	left: 220px;
	z-index: 1000;
	background-color: rgba(120, 120, 120, 0.9);
	color: white;
	border-radius: 10px;
	margin-left: 30px;
	padding: 10px; 
	max-width: 300px;
	width: fit-content;
	height: auto;
}

#exit_trade_button {
	float:left;
	width: 398;
	text-align: center;
	border: 1px solid white;
	border-top: none;
	border-bottom: none;
	cursor: pointer;
	font-size: 20;
	padding: 1px 0px 1px 0px;
}

#enemy_healthbar_max {
	outline: 2px solid red;
	background-color: rgba(255, 46, 46, 0.3);
	margin: auto;
	margin-top: 3px;
	width: 85%;
	height: 18px;
}

#enemy_healthbar_current {
	background-color: rgb(255, 46, 46);
	height: 100%;
}

#enemy_name_div {
	padding-top: 4px;
}

#enemy_health_value, #enemy_stats_div, #enemy_name_div {
	color: white;
	width: 100%;
	text-align: center;
	height: 18px;
}

#enemy_count_div { 
	width: 100%;
	padding-top: 2px;
	border-bottom: 1px solid white;
}

#enemy_health_value {
	position: absolute;
	top: 27px;
}

#enemy_stats_div {
	padding: 5px;
}

#enemy_count_content {
	color: white;
	width: 140px;
	padding-right: 5;
	margin-left: auto;
	text-align: right;
	
}

#enemies_left_div {
	width: 30px;
	display: inline-block;
	text-align: right;
}

#inventory_content_div {
	height: 326px;
	overflow-y: scroll;
	overflow-x: visible;
}

#inventory_control_div {
	font-size: 20;
	position: absolute;
	top: 369px;
}

#inventory_div {
	width: 400px;
	height: 400px;
	top: 380;
	display: var(--inventory_div_display);
}

#skill_list_div {
	position: absolute;
	left: 410px;
	top: 360px;
	width: 400px;
	height: 400px;
}
		#skill_list {
			overflow-y: scroll;
			height: 377px;
		}

#journal_div {
	position: absolute;
	top: 73px;
	width: 400px;
	left: 410px;
	height: 277px;
}

	#journal_header, #skill_list_header {
		width: 100%;
		text-align: center;
		padding-top: 5px;
	}

#location_actions_div {
	display: block;
}

#location_div {
	width: 400px;
	height: 287px;
	left: 410px;
	top: 66px;
	border-top: 0px;
}

		#location_description_div {
			border-bottom: 4px solid gray;
			height: 113px;
			font-style: italic;
			color: rgb(224, 224, 224);
			padding: 5px;
		}

		#location_picture_div {
			height: 160px;
		}

#time_and_location {
	top: 20px;
	left: 410px;
	width: 400px;
	font-size: 20;
}
		#location_name_div {
			border-top: 1px solid white;
			padding: 4px;
		}

		#time_div {
			padding: 4px;
			text-align: right;
		}

#location_name_div:hover #location_description_tooltip {
	display: block;
}

#location_description_tooltip {
	font-style: italic;
	display: none;
	background-color: rgba(120, 120, 120, 0.9);
	border-radius: 10px;
	margin-left: 30px;
	padding: 5px;
	position: absolute;
	z-index: 1000;
	max-width: 500px;
	font-size: 18;
	width: fit-content;
	height: auto;
}

#main_controller {
	height: 40px;
    margin-bottom: 5px;
    display: flex;
	height: 40px;
    width: fit-content;

}

#main_content {
    position: absolute;
	top: 15px;
	background-image: var(--background_gradient);


}

#message_log_div {
	width: 400px;
	height: 760px;
	left: 820px;
	top: 20px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 15px;
	margin-bottom: 20px;
}

#money_div {
	color: white;
	border-bottom: 1px solid white;
	padding: 2px 5px 2px 5px;
}


#saved_file_input {
	display: none;
}

#start_sleeping_div{
	text-align: left;
	font-size: 20;
	border-bottom: 1px solid white;
	cursor: pointer;
	padding: 5px;
}

#start_sleeping_div:hover, #action_end_div:hover, #end_sleeping_div:hover {
	background-color: #2c3953;
}

#test_button {
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: silver;
	bottom: 50px;
}

#trade_div {
    display: none;
}

#trader_inventory_div {
    height: 291px;
}

#trade_price_div {
	color: white;
	outline: 1px solid white;
	padding: 2px 1px 2px 1px;
	width: 261px;
	float: left;
	margin: 1px;
	
}

#trader_cost_mult {
	width: 131px;
	color: white;
	outline: 1px solid white;
	padding: 2px 1px 2px 1px;
	margin: 1px;
	float:left;
	color: orange;
	font-weight: bold;
}

#trader_cost_mult_text {
	width: 60px;
	float: left;
	padding-left: 5px;
}

#trader_cost_mult_value {
	width: 60px;
	float: left;
	text-align: right;
	padding-right: 5px;
}


#trade_price_text {
	display: inline-block;
	width: 80px;
	padding-left: 5px;
}

#trade_price_value {
	width: 164px;
	display: inline-block;
	text-align: right;
	padding-right: 5px;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;;
  }

::-webkit-scrollbar-track {
	background: #191928; 
  }
   
::-webkit-scrollbar-thumb {
	background: silver; 
  }
  
::-webkit-scrollbar-thumb:hover {
	background: white; 
  }